<nav>
  <mat-toolbar color="primary">
    <span class="toolbar-title">Todo List</span>
  </mat-toolbar>
</nav>

<main>
  <div class="add-task">
    <mat-form-field appearance="fill" class="task-input">
      <mat-label>Task</mat-label>
      <input matInput placeholder="Add Task" [(ngModel)]="task" (keyup.enter)="addTask()">
    </mat-form-field>
    <button mat-raised-button class="add-button-task" (click)="addTask()">Add</button>
  </div>

  <div class="task-list" *ngIf="tasks.length > 0">
    <mat-list class="task-items">
      <mat-list-item *ngFor="let task of tasks; let i = index">
        <div class="task">
          <span>{{ task }}</span>
          <button mat-icon-button (click)="deleteTask(i)">
            <mat-icon>delete</mat-icon>
          </button>
        </div>
      </mat-list-item>
    </mat-list>
  </div>
</main>

<router-outlet />